# Data manipulation and analysis
pandas==2.2.2
scikit-learn==1.5.1

# Data visualization
matplotlib==3.9.2
seaborn==0.13.2

# Jupyter environment
jupyter==1.0.0
  
# Natural Language Processing
nltk==3.9.1
spacy==3.8.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz

# Topic Modeling
pyLDAvis==3.4.1

# Sentiment Analysis
textblob==0.18.0.post0

# Word Cloud
wordcloud==1.9.3

# Transformers
transformers==4.45.2

# PyTorch for Mac
torch==2.4.0; sys_platform == 'darwin'
torchvision==0.19.0; sys_platform == 'darwin'
torchaudio==2.4.0; sys_platform == 'darwin'

# Progress bar
tqdm==4.66.5